<h1>Eat Da Burger</h1>


<!-- Pass in data from server.js -->
<ol>
  {{#each burgers}}
  	<li>
  		{{!-- <p><span class="label">ID:</span> {{this.id}}</p> --}}
      <p><span class="label">Burger:</span> {{this.burger_name}}</p>
      {{!-- <p><span class="label">Deloured:</span> {{this.devoured}}</p> --}}

      {{!-- <button data-id="{{this.id}}" class="delquote">Delete</button> --}}

      {{!-- <a href="/{{this.id}}">Update this quote</a> --}}
  	</li>
  {{/each}}
</ol>


<form class="create-form">

  {{!-- <div class="form-group">
    <label for="auth">Author:</label>
    <input type="text" id="auth" name="author">
  </div> --}}

  <div class="form-group">
    <textarea id="quo" name="quote" rows="8" cols="40"></textarea>
  </div>

  <button type="submit">Submit</button>
</form>
