<h1>Eat Da Burger</h1>


<!-- Pass in data from server.js -->

{{!-- <ul>
  {{#each burgers}}
    {{#unless devoured}}
      {{> burgers/burger-block devoured=true}}
    {{/unless}}
  {{/each}}
</ul>

<ul>
  {{#each burgers}}
    {{#unless devoured}}
      {{> burgers/burger-block devoured=false}}
    {{/unless}}
  {{/each}}
</ul> --}}


<h2>Ready to Eat</h2>
  {{#each burgers}}
  {{#unless devoured}}
  <div>
    <p><span class="label">Burger:</span> {{this.burger_name}}</p>

    <form action="/api/burger/edit" method="post">
      <input type="hidden" name="id" value="{{this.id}}">
      <input type="hidden" name="devoured" value="{{this.devoured}}">
      <input type="submit" value="Eat!">
    </form>

  </div>

  {{/unless}}
  {{/each}}

  <h2>Devoured</h2>
  {{#each burgers}}
  {{#if devoured}}
  <div>
    <p><span class="label">Burger:</span> {{this.burger_name}}</p>

    <form action="/api/burger/edit" method="post">
      <input type="hidden" name="id" value="{{this.id}}">
      <input type="hidden" name="devoured" value="{{this.devoured}}">
      <input type="submit" value="Eat!">
    </form>

  </div>

  {{/if}}
  {{/each}}


<form class="create-form" action="/api/burgers" method="POST">
  <div class="form-group">
    <input type="hidden" name="devoured" value="0">
    <textarea id="quo" name="burger_name" rows="8" cols="40"></textarea>
  </div>

  <button type="submit">Submit</button>
</form>